/* Atur gambar sebagai background di seluruh halaman */
body {
    font-family: 'Lato', sans-serif; /* Menggunakan font Lato */
    background-image: url('/form/images/pemkab.jpg'); /* Pastikan URL gambar sudah benar */
    background-size: cover;
    background-position: center bottom;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    max-width: 600px;
    border-radius: 15px;
    padding: 20px;
    margin-top: 1px;
    padding: 10px; /* Kurangi padding agar terlihat lebih sederhana */
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px; /* Efek lengkungan pada semua sudut */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); /* Efek bayangan */
}


.d-flex {
    padding-top: 100px; /* Tambahkan padding-top untuk menurunkan posisi */
    min-height: calc(100vh - 50px); /* Menjaga agar tetap responsif */
}



/* Pengaturan tombol */
.btn {
    background: #03989E; /* Warna latar tombol */
    color: white; /* Warna teks putih */
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Efek transisi halus */
    width: 100%;
}

.btn:hover {
    background-color: #027c83; /* Warna latar tombol saat di-hover */
    color: white; /* Pastikan warna teks tetap putih saat di-hover */
}

@media (max-width: 576px) {
    h1{
        font-size: 20px;
    }
    body {
        background-image: none; /* Hilangkan gambar di layar kecil */
    }

    .container {
        max-width: 90%; /* Perkecil lebar container di layar kecil */
        padding: 10px; /* Kurangi padding di container */
    }

    .card {
        margin-top: 1px;
        border-radius: 10px; /* Kurangi lengkungan */
    }

    h2, .btn, label {
        font-size: 13px; /* Perkecil ukuran font */
    }

    .form-control{
        padding: 3px 12px; /* Sesuaikan padding atas-bawah dan kiri-kanan */
        margin-bottom: 10px; /* Jarak antar input */
        height: 40px;
    }


    select, input, textarea {
        font-size: 14px; /* Ukuran font lebih kecil di dalam form */
        padding: 8px; /* Sesuaikan padding */
    }

    .btn {
        padding: 8px; /* Padding lebih kecil pada tombol */
        font-size: 14px;
    }
}

