
/* Atur gambar sebagai background di seluruh halaman */
body {
    background-image: url('/form/images/pemkab.jpg'); /* Menggunakan gambar yang sama */
    background-size: cover;
    background-position: center bottom; /* Sesuaikan posisi gambar */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* Pengaturan container */
.container {
    max-width: 600px;
    border-radius: 12px; /* Sudut membulat pada kotak */
    padding: 20px;
    overflow: hidden; /* Agar latar belakang semi-transparan tidak melewati batas */
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px; /* Efek lengkungan pada semua sudut */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); /* Efek bayangan */
}


/* Pengaturan tombol submit */
.btn {
    background: #03989E; /* Warna latar tombol */
    color: white; /* Warna teks putih */
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Efek transisi halus */
    width: 100%;
}

/* Efek hover pada tombol */
.btn:hover {
    background-color: #027c83; /* Warna latar tombol saat di-hover */
    color: white; /* Pastikan warna teks tetap putih saat di-hover */
}


@media (max-width: 576px) {
    h1{
        font-size: 20px;
    }
    body {
        background-image: none; /* Hilangkan gambar di layar kecil */
    }

    .container {
        max-width: 90%; /* Perkecil lebar container di layar kecil */
        padding: 10px; /* Kurangi padding di container */
    }

    .card {
        padding: 1px; /* Kurangi padding di dalam card */
        border-radius: 10px; /* Kurangi lengkungan */
    }

    h2, .btn, .form-control, label {
        font-size: 15px; /* Perkecil ukuran font */
    }

    select, input, textarea {
        font-size: 14px; /* Ukuran font lebih kecil di dalam form */
        padding: 8px; /* Sesuaikan padding */
    }

    .btn {
        padding: 8px; /* Padding lebih kecil pada tombol */
        font-size: 14px;
    }

    .select2-container {
        width: 100% !important; /* Memastikan dropdown Select2 mengambil lebar penuh */
        margin: 0; /* Hapus margin default */
        padding: 0; /* Hapus padding default */
    }

    .select2-container--default .select2-selection--single {
        padding: 1px; /* Sesuaikan padding */
        font-size: 14px; /* Sesuaikan ukuran font */
    }

}
